*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.animation-conteiner{
    width: 100%;
    height: 100vh;
}
.box{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 100px;
    left: 80px;
    background-color: gold;
    animation: figura 10s infinite;
    border-radius: 20px;
}
@keyframes figura {
    0%{
        top: 100px;
        left: 80px;
    }
    10%{
        top: 100px;
        left: 450px;
    }
    20%{
        top: 500px;
        left: 450px;
    }
    30%{
        top: 500px;
        left: 1400px;
    }
    40%{
        top: 700px;
        left: 1400px;
    }
    50%{
        top: 700px;
        left: 900px;
    }
    60%{
        top: 600px;
        left: 900px;
    }
    70%{
        top: 600px;
        left: 500px;
    }
    80%{
        top: 500px;
        left: 250px;
    }
    90%{
        top: 500px;
        left: 100px;
    }
    100%{
        top: 100px;
        left: 100px;
    }
    
}